body {
  font-family: "Roboto", sans-serif;
}

header {
  position: fixed;
  width: 100vw;
  height: 10vh;

  display: flex;
  justify-content: space-between;
}

#nav-bar ul {
  list-style-type: none;
}

#nav-bar ul li {
  display: inline;
  margin-right: 2vw;
}
